---
import ServiceDetail from '../../components/ServiceDetail.astro';
import Navbar from '../../components/Navbar.astro';
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Projetos Comerciais | Arquitetura</title>
  </head>
  <body>
    <Navbar />
    <ServiceDetail serviceType="comercial" />
  </body>
</html>