---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import ProjectCard from "../components/ProjectCard.astro";
import projects from "../assets/data/projects.json";
---

<MainLayout title="Home | Mateus Arquiteto">
  <Hero />
  <section class="py-16">
    <div class="max-w-6xl mx-auto px-6 grid grid-cols-1 md:grid-cols-2 gap-8">
      {projects.slice(0, 4).map((p) => <ProjectCard project={p} />)}
    </div>
  </section>
</MainLayout>
