---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import projects from "../assets/data/projects.json";
---

<MainLayout title="Projetos | Mateus Arquiteto">
  <section class="py-24">
    <div class="max-w-6xl mx-auto px-6">
      <h2 class="text-3xl font-bold">Projetos</h2>
      <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {projects.map((p) => <ProjectCard project={p} />)}
      </div>
    </div>
  </section>
</MainLayout>
