---
// src/layouts/Layout.astro
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <!-- Meta Tags -->
    <meta
      name="description"
      content="Arquiteto Mateus - Transformando espaços em experiências únicas através do design e funcionalidade"
    />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/global.css" />
  </head>

  <body class="font-sans antialiased">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
